@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat:500,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.cont {
    margin: 0;
    width: 33.3vw;
    height: 100vh;
    background: #29cc86;
    color: white;
    display: inline-block;
}

.cont:nth-of-type(2) {
    width: 66.7vw;
    margin-left: -4.5px; /*-.34vw;*/
    background: #11a590;
    overflow-y: scroll;
}

.inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 16%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cont:nth-of-type(2) .inner {
    margin: 0;
    position: relative;
    top: 0;
    left: 55%;
    width: 50vw;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.header {
    display: inline-block;
    border: .7vw solid white;
    padding: 2vw 1vw 1vw 2vw;
    width: 15vw;
    box-shadow: .7vw .7vw #29cc86, 1.4vw 1.4vw #11a590, inset .7vw .7vw #29cc86, inset -.7vw -.7vw #29cc86, inset 1.4vw 1.4vw #11a590;
}

.cont:nth-of-type(2) .header {
    border: none;
    padding: 0;
    color: #3A5683;
    width: 20vw;
    box-shadow: .7vw .7vw #11a590, 1.4vw 1.4vw #3A5683;
}

.cont:nth-of-type(2) h2 {
    font-size: 2vw;
    margin-bottom: -1vw;
    margin-top: 10vw;
}

.cont:nth-of-type(2) .header {
    margin-top: 2.5vw;
    margin-right: 2.5vw;
}

.template {
    width: 100%;
    cursor: pointer;
    position: relative;
    left: 0;
    top: .1vw;
    transition: .1s linear;
}

.template:hover {
    left: .2vw;
    top: .35vw;
    filter: brightness(85%);
}

.header * {
    font-family: 'Major Mono Display', sans-serif;
    margin: 0;
    padding: 0;
}

.header h2 {
    font-size: 1.8vw;
    text-align: left;
}

.header h1 {
    font-size: 3vw;
    text-align: right;
}

.modalcover {
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,.9);
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.modalcover.visible {
    display: block;
}

.modalcover .modal {
    width: 30vw;
    margin-left: 30vw;
    height: 70vh;
    background: white;
    color: #3A5683;
    display: block;
    margin-top: 11vh;
    padding: 2vw 3vw;
}

.modalcover h1 {
    font-size: 3vw;
}

.modalcover h2 {
    font-size: 1.3vw;
    font-weight: 500;
    width: 100%;
    margin-bottom: 1vw;
}

.modalcover video {
    outline: none;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 33.3%;
    height: 1.2vw;
    background: #29cc86;
    outline: none;
    opacity: 0.85;
    transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2vw;
    height: 1.2vw;
    background: #3A5683;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.2vw;
    height: 1.2vw;
    background: #3A5683;
    cursor: pointer;
}

.modalbutton {
    border: none;
    font-size: 1.2vw;
    outline: none;
    color: #11a590;
    border: .2vw solid #11a590;
    padding: .7vw 1.5vw;
    margin-top: .5vw;
    cursor: pointer;
    background: white;
}

.modalbutton:hover {
    color: white;
    background: #11a590;
}

@media only screen and (orientation: portrait) {
    .cont {
        width: 100vw;
    }
    .cont:nth-of-type(2) {
        display: none;
    }
    .inner {
        left: 50%;
    }
    .header {
        border: .7vh solid white;
        padding: 2vh 1vh 1vh 2vh;
        width: 60vw;
        box-shadow: .7vh .7vh #29cc86, 1.4vh 1.4vh #11a590, inset .7vh .7vh #29cc86, inset -.7vh -.7vh #29cc86, inset 1.4vh 1.4vh #11a590;
    }
    .header h2 {
        font-size: 3.5vh;
    }
    .header h1 {
        font-size: 7vh;
    }
}